[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

[dev-packages]

boto3 = "*"
aws-lambda-powertools  = "*"
Faker = "*"
awswrangler  = "*"
dynamodb-json  = "*"

pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
